body {background-color: #F3F3F3; margin: 0px;}
body .main_header {
  margin: 0px;
  background: #2bcdc1;
  color: white;
  font-size: 14px;
  font-style: normal;
  padding: 10px;
}
*{font-family: "Circular","Helvetica Neue",Helvetica,Arial,sans-serif;}

.main_header a {
  color: black;
  text-decoration: none;
}

.main_header .header_logo {
  height: 55px;
}

.main_header .link_text {
  position: relative;
  padding: 5px;
  margin: 6px;
}

.container {
  padding: 20px;
}

.main_header .page_line {
  border-bottom: 2px solid black;
  font-weight: bold;
 }

.main_header nav {
  float: right;
  margin: 20px 0;
}

.address_line ul {
  list-style-type: none;
  padding: 0;
}

.address_line ul li {
  display: inline-block;
  float: right;
}

.vision_page img, .about-us img {
  width: 100%;
  height: 320px;
}

.carousel-inner > .item > img {
  width: 300px !important;
  height: 350px !important;
  margin: 0px 156px !important;
}

.index-container {
  padding-top: 0px;
}

.product-images {
  margin: 15px 0px;
}

.product-listing ul {
  margin: 10px 40px;
}

.second_desc {
  margin-top: 15px;
}

.product-listing ul li {
  list-style: none;
  margin: 15px;
}

.product-listing ul li:before{
   content: '';
   display: inline-block;
   background-image: url(checked.png);
   vertical-align: text-bottom;
   width: 16px;
   height: 16px;
   margin-right: 10px;
}

.assistance {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: cyan;
  margin-top: 20px;
}

.product_items_left img{
  width: 300px !important;
  height: 350px !important;
  margin: 0px 60px !important;
}

.product_items_right img{
  width: 300px !important;
  height: 350px !important;
  margin: 0px 160px !important;
}

.products_page img {
  border: 2px solid black;
  border-radius: 5px;
}

.product_section {
  margin-bottom: 30px;
}

.products_page h4 {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

.products_page > h3 {
  font-weight: bold;
}

.products_page .text_right {
  margin-left: 58px;
}

.product_section p {
  margin-top: 20px;
}

.products_page h5 {
  font-weight: bold;
}